@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }
    .page-header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-nav {
        margin: 0;
    }

    .mob-menu-open {
        display: none;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .header-item-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
        position: relative;

        display: block;
        padding: 24px 0;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function);
    }

    .header-item-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;

        opacity: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--button-colos-active);

        transition-property: background-color, border-radius;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-item-link.current {
        color: var(--button-colos-active);
    }

    .header-item-link.current::after {
        opacity: 1;
        background-origin: -1px;
    }

    .header-adress {
        margin-left: 0;
        font-style: normal;
        display: block;
    }

    .header-list-adress {
        display: block;
    }

    .header-item-adress {
        margin-bottom: 12px;
    }

    .header-adress-contact {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--adress-color);

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    /*-------------- modal ----------*/

    .modal {
        padding: 72px 25px 24px 23px;
        min-width: 408px;
        min-height: 584px;
    }


    /* section1 HERO*/
    .hero {
        background-color: var(--text-color);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-tab-1x.jpg);
        max-width: 768px;
        max-height: 436px;
    }
    @media (max-width: 766px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero-tab-2x.jpg);
            max-width: 768px;
        }
    }

    @media (min-width: 767px) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero-desk-1x.jpg);
            max-width: 1440px;
        }
    }

    @media (min-width: 767px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero-desk-2x.jpg);
            max-width: 1440px;
        }
    }

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }

    /* section2 */
    .features-container {
        padding: 0 15px;
    }

    .features-subtitle {
        text-align: left;
    }

    .features-list {
        row-gap: 72px;
        column-gap: 24px;
    }

    .team-item:not(:last-child) {
        margin-bottom: 0;
    }

    .features-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    /* section4 */

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }

    .team-item {
        max-width: 264px;
        width: calc((100% - 24px) / 2);
    }

    /*   section 5  */
    .customers-list {
        justify-content: center;
        column-gap: 24px;
    }

    .customers-item {
        max-width: 168px;
        width: calc((100% - 48px) / 3);
    }

    /* footer */
    .footer {
        padding: 96px 0;
    }

    .footer-menu {
        display: flex;
        max-width: 582px;
        align-items: baseline;
        justify-content: center;
    }

    .footer-logo-container {
        width: 264px;
        margin-right: 24px;
    }

    .footer-logo {
        display: inline-block;
    }

    .footer-soc-container {
        margin-bottom: 104px;
    }

    .footer-social {
        text-align: left;
    }

    .form-subscribe {
        display: flex;
    }

    .subscribe-container {
        text-align: left;
        width: 453px;
        height: 80px;

    }

    .footer-emal-input {
        width: 264px;
        height: 40px;
        margin-right: 24px;
        margin-bottom: 0;
    }
}

/* -----------------------min-width: 1158px----------- */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    /* HEDER nav */

    .header-logo {
        margin-right: 76px;
    }

    .header-list-adress {
        display: flex;
        gap: 40px;
    }

    .header-item-link {
        cursor: pointer;
    }

    .header-item-link:hover::after,
    .header-item-link:focus::after {
        opacity: 1;
        background-origin: -1px;
    }

    .header-item-adress {
        margin-bottom: 0;
    }

    .header-adress-contact {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--adress-color);
        padding: 24px 0;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-adress-contact:is(:hover, :focus) {
        color: var(--button-colos-active);
    }

    /* section1 HERO*/
    .hero {
        background-color: var(--text-color);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-desk-1x.jpg);
        max-width: 1440px;
        max-height: 600px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero-desk-2x.jpg);
        }
    }

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .hero-title {
        margin-bottom: 48px;
    }

    /* section2 */
    .features {
        padding: 120px 0;
    }

    .features-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .features-list {
        display: flex;
        gap: 24px;
    }

    .features-bloks {
        display: flex;
        height: 112px;
        border-radius: 4px;
        background-color: #F4F4FD;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;

        margin-bottom: 8px;
    }

    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-top: 8px;
        text-align: left;
    }

    .features-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--adress-color);
    }

    /* title page */
    .customers-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--text-color);
        margin-bottom: 72px;
    }

    /* section3 */
    .doing {
        display: flex;
        padding-bottom: 120px;
    }

    .doing-container {
        display: block;
    }

    .caption-page {
        margin-top: 0;
        margin-bottom: 72px;

    }

    .doing-list {
        gap: 24px;
    }

    .doing-item {
        display: block;
        width: calc((100% - 48px) / 3);
    }
    /* 4&&&&& */

    .image-item {
        display: block;
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    /* section4 */

    .team {
        padding: 120px 0;
        background-color: var(--background-seclion-four);
    }

    .team-title {
        margin-bottom: 72px;
    }

    .team-list {
        display: flex;
        gap: 24px;
    }

    .team-item {
        display: block;
        flex-direction: column;
        flex-shrink: 0;
        width: calc((100% - 72px) / 4);
    }

    .team-soc-link:hover,
    .team-soc-link:focus {
        background-color: #404bbf;
    }

    /*  section 5 */
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
        gap: 24px;
    }

    .customers-list {
        padding-left: 0;
        padding-right: 0;
    }

    .customers-item {
        width: calc((100% - 120px) / 6);
    }

    /* footer */
    .footer {
        padding: 100px 0;
    }

    .footer-menu {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;

    }

    .footer-logo-container {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .footer-logo link {
        display: inline-block;
        margin-bottom: 16px;
    }

    .footer-soc-container {
        width: 208px;
        margin-right: 80px;
        margin-bottom: 0;
    }

    .subscribe-container {
        width: 453px;
        height: 80px;
    }

    .btn-subscribe:is(:hover, :focus) {
        color: var(--button-colos-active);
    }
}