ul,
ol {
  margin: 0;
  padding: 0;
 }
p,
h1,
h2,
h3,
h4,
h5,
h6
 {
  margin: 0
  }

  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    }

  :root {
    --iris:#4D5AE5;
    --ocean:#404BBF;
    --navi-blue:#2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --light-slate:#8E8F99;
    --cornflower:#E7E9FC;
    --cloud:#F4F4FD;
    --navi-blue-modal:#2E2F42;
    --grey:#2E2F42;
    --white:#FFFFFF;
    --dairy:#FCFCFC;
    --title-header:Family: Roboto
   }

 img {
display: block;
 }

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  .list {
    list-style: none;
  }

  .link {
    text-decoration: none;
  }

  .container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
  }
  
/* ----header------ */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);  
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.header-logo {
  color: var(--iris);
  margin-right: 76px;
}

.header-logo-studio {
  color: var(--grey);
}

.header-nav {
  display: flex;
  align-items: center;
 }

.header-item-link {
  font-style: normal;
  font-weight: 500;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey);
  padding: 24px 0;
  display: block;
  position: relative; 
  color: var(--navi-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress {
  font-style: normal;
  color: var(--slate);
  margin-left: auto;
}

.header-item-adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
  

.header-item-link:hover,
.header-item-link:focus {
  color: var(--ocean);
}

.header-item-link::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
background-color: #404bbf;
border-radius: 2px;

  opacity: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);

}
.header-adress-contact:hover {
  color: var(--ocean);
 }

.header-adress-contact:focus {
color: var(--ocean);
}

.header-adress {
  font-style: normal;
 }

.header-adress-contact {
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list {
 color: var(--navi-blue);
 display: flex;
 align-items: center;
 gap: 40px;
}

.header-list-adress {
  display: flex;
  gap: 40px;
}

.header-item-link:is(:hover, :focus),
.header-item-link.current {
   color: var(--ocean);
}

.header-item-link:hover::after,
.header-item-link:focus::after,
.header-item-link.current::after {
   opacity: 1;
   background-origin: -1px;
}

/** ------HERO----- **/

.hero {
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  margin: 0 auto; 
  /* background-image: url(../images/); */
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
}

/* .hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg);
} */
/* .hero-container {
 
} */

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  margin: 0 auto;
  max-width: 496px;
  }

.hero-btn-btn {
  font-family: "Roboto", sans-serif;
  background: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:#ffffff;
  cursor: pointer;
  display: block;
  align-items: center;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: auto;
  border: none;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.hero-btn-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white)
}

.hero-btn-btn:hover,
.hero-btn-btn:focus {
  background-color: var(--ocean)
}

.hero-btn-title:hover,
.hero-btn-title:focus {
  background-color: var(--ocean)
}

/* -----features----- */

.features {
  padding: 120px 0;
}

.features-bloks {
  width: 264px;
  height: 112px;
  left: 0px;
  top: 0px;
  background: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
  margin-bottom: 8px;
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate)
}

.features-list {
  display: flex;
}

.features-list {
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4); 

}

.features-bloks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navi-blue);
  margin-bottom: 72px;
}
.doing-list {
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
}


/* Team */
.team {
  background-color: var(--cloud);
}

.team-list {
display: flex;
gap: 24px;
}

.team-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navi-blue);
  margin-bottom: 72px; 
 }

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-bottom: 8px;
}

.team-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px; 
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  
}
 .team-container-card {
  padding: 32px 16px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
 }

 .team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: var(--cloud);
}

.team-soc-link:hover {
  background-color: #404bbf;
}

.team-soc-link:focus {
  background-color: #404bbf;
}

/** customers */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  content: Customers;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue);
  margin-bottom: 72px;
  }


.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
  color: var(--light-slate);
  }

.customers-soc-icon {
  width: 104px;
  height: 56px;
 fill: currentColor;
 }

 .customers-link:hover {
  border-color: #404bbf;
  color: #404bbf;
} 

.customers-link:focus {
  border-color: #404bbf; 
  color: #404bbf;
}

 /* footer */

.footer {
 padding: 100px 0;
 background: var(--navi-blue);
 /* display: flex; */
 
 /* height: 312px; */
}
.footer-menu {
  display: flex;
  align-items: baseline;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.footer-logo-container {
  margin-right: 120px;
  max-width: 264px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
 }

.footer-logo-link {
  font-family: "Raleway", sans-serif;
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud)
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}


.footer-soc-list {
  display: flex;
  gap: 16px;
  margin-right: 88px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover {
  background-color: #31d0aa;
}

.footer-soc-link:focus{
  background-color: #31d0aa;
}

.footer-soc-icon {
  width: 24px;
  height: 24px;
  fill: var(--cloud);
}

.footer-emal-input {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.0;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.footer-input {
width: 264px;
height: 40px;
  /* border: 1px solid #FFFFFF;
  border-radius: 4px; */
}



/* PORTFOLIUO */

.menu {
  padding-top: 96px; 
  padding-bottom: 120px; 
}

.menu-list {
  display: flex;
  justify-content: center;
  gap: 24px; 
  margin-bottom: 72px;
}

.menu-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .image-back-text {
  transform: translateY(0%);
}

.portfolio-link:focus .image-back-text {
  transform: translateY(0%);
}
.menu-btn:hover {
  color: #FFFFFF;
  background: #404BBF;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-btn:focus {
  color: #FFFFFF;
  background:#404BBF;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link {
  display: block;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.portfolio-link:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px; 
  row-gap: 48px; 
}

.service-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
  margin-bottom: 8px; 
}

.service-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate)
}

.port-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
}


.service-item {
  width: calc((100% - 48px) / 3); 
}

.image-container {
  position: relative; 
  overflow: hidden;
}

.image-back-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*         modal                */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  border-color: gray;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  width: 408px;
  min-height: 584px;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  padding: 24px;
  padding-top: 72px;
}

.modal-close {
  width: 24px;
  height: 24px;
  border: 1px solid #999999;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
} 

.modal-close:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
} 

.modal-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 16px;
color: var(--navi-blue);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.input-wrap {
  display: block;
  position: relative;
}

/* .modal-field {
  margin-bottom: 10px;
} */

.modal-label-container {
  margin-bottom: 8px;

}

.modal-input:focus {
  border-color: var(--iris);
 }
 
 .modal-input:focus + .modal-icon {
  fill: #4D5AE5; 
 }

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}



.modal-area {
  display: block; 
  width: 100%;
  height: 120px;
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-area:focus {
  outline: none;
  border-color: var(--iris);
}

.modal-check:checked + .check-text span {
background-color: var(--ocean);
border: none;
fill: var(--cloud);
}

.modal-check:focus + .check-text span {
  border-color: var(--iris);
  }

.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-privacy {
  margin-bottom: 24px;
}

.span-check {
  height: 16px;
  width: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}

.send {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.input-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: var(--light-slate);
}

.modal-form-input-container {
  position: relative;

}

.modal-field {
  margin-bottom: 16px;
}

.privacy {
  color: var(--iris);
}

.input-label span {
  display: block;
  margin-bottom: 4px;
}
.subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.form-subscribe {
display: flex;
gap: 24px;
}



.footer-emal-input {
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
background-color: transparent;
border-radius: 4px;
color: #ffffff;
width: 264px;
height: 40px;
border: 1px solid #ffffff;
padding-left: 16px;
filter:  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-emal-input::placeholder {
  color: #ffffff;
}

.check-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.placeholder {
  color: #FFFFFF;
}

.btn-subscribe {
  font-family: "Roboto", sans-serif;
  display: flex;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-style: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
}
